:root {
  --white-color: #ffffff;
  --grey-color: #757575;
  --blue-color: #2196f3;
  --black-text: #212121;
  --black-back: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
  font-family: 14px;
  cursor: pointer;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*-------HEADER-------*/

.header {
  text-decoration: none;
  background: var(--white-color);
  align-items: center;
  margin-left: auto;
  border-bottom: 1px solid #ececec;
  border-bottom-width: auto;
}
.header .container {
  display: flex;
  align-items: center;
}

.header-contact {
  display: flex;
  margin: 0 0 0 auto;
  align-items: center;
  padding-left: 0px;
}
.icon-tel,
.icon-mail {
  fill: var(--grey-color);
  margin-right: 10px;
  display: block;
}

.header-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-color);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  display: block;
}

.studio-style {
  color: var(--black-text);
}
.header-list {
  display: flex;
  align-items: baseline;
  padding-left: 0px;
  margin: 0px;
}

.header-link-curent {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  color: var(--blue-color);
}
.header-link-curent::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-back);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-li {
  margin-right: 50px;
}

.header-link:hover,
.header-link:focus {
  color: var(--blue-color);
}
.header-conect {
  margin-left: auto;
}

.header-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--blue-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--blue-color);
}
.icon-mail {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-tel {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover .icon-mail {
  fill: var(--blue-color);
}
.icon-mail:hover .header-mail {
  fill: var(--blue-color);
}
.header-mail:focus .icon-mail {
  fill: var(--blue-color);
}
.header-tel:hover .icon-tel {
  fill: var(--blue-color);
}
.header-tel:focus .icon-tel {
  fill: var(--blue-color);
}

/*----------MAIN---------*/

.main-text-section {
  background: var(--black-back);
  text-align: center;
  padding: 200px 0px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/Img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.main-text {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 696px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.mail-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  background-color: var(--blue-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  transition: box-shadow 250ms 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.mail-btn:hover,
.mail-btn:focus {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15);
}
/* -----ABOUT-----*/

.about-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.about-svg-icon {
  fill: #afb1b8;
}
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
  margin: 0 0 10px 0;
}
.about-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.about-title-one {
  max-width: 270px;
}
.about-title-one:not(:last-child) {
  margin-right: 30px;
}
.about {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-bottom-text {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--grey-color);
}

/*----------WORK-SECTION---------*/
.work-flex {
  display: flex;
  padding: 0px 0px;
  margin: 0px;
}
.work-section {
  padding-bottom: 94px;
}
.side-text {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0px;
}
.work-img {
  position: relative;
}

.work-img:not(:last-child) {
  margin-right: 30px;
}
.capabilities {
  letter-spacing: 0.03em;
  position: absolute;
  bottom: 0;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  height: 70px;
  text-transform: uppercase;
  border-radius: 0px 0px 4px 4px;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
}

/*-------MASTERS-------*/
.prof {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.master-section {
  background: #f5f4fa;
  padding: 94px 0px;
}
.masters-flex {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.masters {
  background: #ffffff;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.masters:not(:last-child) {
  margin-right: 30px;
}
.name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 30px;
  padding: 0px;
}
.masters-soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 16px;
  padding-left: 0;
}
.masters-soc-item + .masters-soc-item {
  margin-left: 10px;
}
.masters-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.masters-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-soc-link:hover .masters-soc-icon {
  fill: #ffffff;
}
.masters-soc-link:focus .masters-soc-icon {
  fill: #ffffff;
}

.masters-soc-link:hover,
.masters-soc-link:focus {
  width: 44px;
  height: 44px;
  background-color: var(--blue-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*-----CLIENTS----*/
.client-section {
  padding: 94px 0 94px 0;
}
.clients-text {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0 50px 0;
}

.clients-list {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  padding: 0px;
}
.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-soc-link {
  width: 170px;
  height: 92px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-soc-link:hover,
.clients-soc-link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.clients-soc-link:hover .clients-icon {
  fill: #2196f3;
}
.clients-soc-link:focus .clients-icon {
  fill: #2196f3;
}

/*-----FOOTER-----*/

.footer-list {
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.footer-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-color);
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  line-height: 1.71;
  color: var(--white-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address:hover,
.footer-address:focus {
  color: var(--blue-color);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--blue-color);
}
.footer-li {
  margin-top: 9px;
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-down {
  background: var(--black-back);
  padding: 50px 0px;
  align-items: center;
  margin-left: auto;
}
.footer-down .container {
  display: flex;
  align-items: baseline;
}

.footer_style {
  color: #ffffff;
}
.comeback {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
.footer-click {
  margin-left: 70px;
  margin-top: 0;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0px;
}
.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  width: 44px;
  height: 44px;
  background-color: var(--blue-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------GALLERY-------*/
.portfolio-section {
  padding: 94px 0px;
}

.urll {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  display: flex;
  padding: 0px;
  margin: 0px 0px 50px 0px;
  justify-content: center;
}

.portfolio-texts {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
  text-align: left;
}

.url-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.url-but-list:not(:last-child) {
  margin-right: 8px;
}
.url-button:hover .url-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.url-button:focus,
.url-button:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.company-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding: 0px;
  margin: 0px;
}

.work {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  padding: 0px;
  margin: 0px;
}
.img-company {
  margin: 15px;
  padding: 0px;
  background: #ffffff;
  display: block;
  max-width: 370px;
}
.portfolio-elements {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-elements:hover .portfolio-open-text {
  transform: translatey(0%);
}
.portfolio-elements:focus .portfolio-open-text {
  transform: translatey(0%);
}

.portfolio-open-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-open-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  margin: 0px;
  height: 100%;
  transform: translatey(101%);
  transition: transform 250ms linear;
  overflow: auto;
}
.portfolio-elements:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-elements:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.company {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(48, 48, 48, 0.499);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 750ms;
}
.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: transparent;
  border: 0;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
